@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuerza esquema claro a nivel documento */
:root {
  color-scheme: light;
}

/* Si el SO está en dark, seguimos forzando claro */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
  }
}

/* Si querés look claro real, fija explícito fondo/texto; 
   si mantenés tu fondo oscuro con gradiente, podés omitir esto */
html,
body {
  background: #ffffff;
  color: #0f172a;
}


body {
  @apply bg-slate-900 text-slate-100 min-h-screen;
}

.card {
  @apply bg-white/5 border border-white/10 rounded-xl;
}

/* Sombra suave reusable */
.shadow-elegant {
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, .4);
}

/* Asegura texto visible en listas nativas del <select> (Android/Windows) */
select, select option {
  color: #111 !important;
}
select {
  background-color: #fff !important;
}
